{include file="public::header"}
<!--导航-->
{include file="public::nav"}

<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h2>发布文章</h2>
        </div>

        <form action="{:url('index/save')}"  method="post" id="login" enctype="multipart/form-data" >
            <input type="hidden" name="user_id" value="{$Think.session.user_id}">

            <div class="form-group">
                <label for="title" class="control-label">文章标题</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="文章标题">
            </div>


            <div class="form-group">
                <label for="category" class="control-label">栏目</label>

                <select name="cate_id" id="cate_id" class="form-control">
                    {volist name="cateList" id="cate"}
                    <option value="{$cate.id}">{$cate.name}</option>
                    {/volist}
                </select>
            </div>



            <div class="form-group">
                <label for="content" class="control-label">内容</label>
                <textarea class="form-control" name="content" id="content" style="min-height: 250px"></textarea>
            </div>

            <div class="form-group">
                <label for="title_img" class="control-label">标题图片</label>
                <input type="file" name="title_img" class="form-control" id="title_img" placeholder="标题图片">
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="submit">保存文章</button>
                </div>
            </div>

        </form>

        <script>
            bkLib.onDomLoaded(function () {
               // new nicEditor({iconPath: '/static/images/nicEditorIcons.git'}).panelInstance('content1');
           new nicEditor().panelInstance('content');
    });


        </script>

    </div>





    {include file="public::right" /}
    {include file="public::footer" /}