{$name}<br>
{$age}<br>
{$sex}<br>
{$salary}<br>
{$goods.id}<br>
{$goods.name}<br>
{$goods['price']}<br>
{$info->course}<br>
{$info->lecture}<br>
{$Think.const.SITE_NAME}<br>

{//输出PHP系统常量}
{$Think.const.PHP_OS}<br>
{$Think.const.PHP_VERSION}<br>


{//输出系统变量 注意要小写 }
{$Think.server.php_self}<br>


{$Think.session.id}<br>
{$Think.get.name}<br>

{//输出自定义配置的变量}
{$Think.config.database.hostname}<br>

{//输出请求变量}
{$Request.get.name}<br>
{$Request.param.name}<br>
{$Request.path}<br>
{$Request.root.true}<br>
{$Request.controller}<br>
{$Request.action}<br>
{$Request.ip}<br>
