<html>
    <head>
        <title>{$title| default='默认标题'}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="text-center">网站信息</h2>
                <table class="table table-default table-bordered table-hover table-center">
                    <tr class="bg-primary">
                        <td>ID</td>
                        <td>名字</td>
                        <td>地址</td>
                        <td>权重</td>
                        <td>国家</td>
                    </tr>
                    {volist name="data" id="list"}
                    <tr>
                        <td>{$list.id}</td>
                        <td>{$list.name}</td>
                        <td>{$list.url}</td>
                        <td>
                            {if $list.alexa>100}
                            <span style="color: red">权重低</span>
                            {else/}
                            <span style="color: green">权重高</span>
                            {/if}
                            {$list.alexa}
                        </td>
                        <td>{$list.country}</td>
                    </tr>
                    {/volist}
                </table>
            </div>
            <div class="col-md-2"></div>
            {//分页条}
            <div class="test-center"></div>
            {$data|raw}
        </div>
    </body>
</html>
