{layout name="public:layout" /}

<h4 class="text-center text-success">文章管理</h4>
<table class="table table-default table-hover table-center">
    <tr>
        <td>ID</td>
        <td>标题</td>
        <td>栏目</td>
        {eq name="$Think.session.admin_level" value="1"}
        <td>作者</td>
        {/eq}

        <td>阅读量</td>
        <td>创建时间</td>
        <td>操作</td>
    </tr>

    {volist name="artList" id="art" empty=$empty}
    <tr>
        <td>{$art.id}</td>
        <td class='table-left'>{$art.title}</td>
        <td>{$art.cate_id |getCateName}</td>
        {eq name="$Think.session.admin_level" value="1"}
        <td>{$art.user_id|getUserNameById}</td>
        {/eq}
        <td>{$art.pv}</td>
        <td>{$art.create_time|date="Y-m-d"}</td>
        <!--非当前用户是不允许编辑其他用户资料-->
        <td><a href="{:url('article/artEdit',['id'=>$art.id])}">编辑</a></td>
        <td><a href="javascript:;" onclick="dele({$art.id})" >删除</a></td>
    </tr>
    {/volist}

</table>
<div class="text-center">{$artList|raw}</div>

<script>
    function dele(artid) {
        if (confirm('您是真的要删除吗?') == true) {
            window.location.href = "/admin/article/doDelete?id=" + artid;
        }
    }
</script>