{layout name="public:layout" /}

<h4 class="text-center text-success">分类管理</h4>
<table class="table table-default table-hover table-center">
    <tr>
        <td>ID</td>
        <td>栏目名称</td>
        <td>排序</td>
        <td>状态</td>
        <td>创建时间</td>
        <td>操作</td>
        <td>删除</td>
    </tr>
    
    {volist name="cateList" id="cate" empty=$empty}
    <tr>
        <td>{$cate.id}</td>
        <td>{$cate.name}</td>
        <td>{$cate.sort}</td>
        {eq name="$cate.status" value="1"}
        <td calss="color.forestgreen">显示</td>
        {else/}
        <td calss="color.gray">隐藏</td>
        {/eq}
        
        <td>{$cate.create_time|date="Y-m-d"}</td>
        <!--非当前用户是不允许编辑其他用户资料-->
        <td><a href="{:url('cate/cateEdit',['id'=>$cate.id])}">编辑</a></td>
        <td><a href="javascript:;" onclick="dele({$cate.id})" >删除</a></td>
    </tr>
    {/volist}
</table>

<a class="btn-danger btn" href="{:url('cate/cateAdd')}" role="button" >添加分类</a>


<script>
    function dele(cateid) {
       // alert("<?php echo 'sss'; ?>");
       //先解析php内容，在解析javascript内容
       // alert("{:url('user/doDelete',['id'=>"+userid+"])}")
        if (confirm('您是真的要删除吗?') == true) {
            //此处有bug,这里传递的ID为列表最后一个单元的ID
            // window.location.href = "{:url('user/doDelete',['id'=>"+userid+"])}";
            window.location.href = "/admin/cate/doDelete?id=" + cateid;
        }
    }
</script>