{include file="public::header"}
<!--导航-->
{include file="public::nav"}

<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h2>用户登录</h2>
        </div>

        <form class="form-horizontal"  method="post" id="login" >

            <div class="form-group">
                <label for="inputEmail2" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="text" name="email" class="form-control" id="inputEmail2" placeholder="邮箱">
                </div>
            </div>


            <div class="form-group">
                <label for="inputEmail4" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="inputEmail4" placeholder="密码">
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" id="submit">登录</button>
                </div>
            </div>

        </form>
    </div>

    <script>
        $(function () {
            $("#submit").on('click', function () {
                //   alert($("#login").serialize()); 
                $.ajax({
                    type: "post",
                    url: "{:url('index/user/loginCheck')}",
                    data: $('#login').serialize(),
                    //此处建议使用text字段，避免json格式错误导致失败
                    dataType: "json",
                    //此处表示ajax同步，很重要，就是在这里卡了！！！！！！！！
                    async: false,
                    success: function (data) {
                        switch (data.status) {
                            case 1:
                                window.location.href = "{:url('index/index')}";
                                break;
                            case 0:
                            case - 1:
                                alert(data.message);
                                window.location.back();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        /*弹出jqXHR对象的信息*/
                        alert(" ajax error");
                        alert(jqXHR.responseText);
                        alert(jqXHR.status);
                        alert(jqXHR.readyState);
                        alert(jqXHR.statusText);
                        /*弹出其他两个参数的信息*/
                        alert(textStatus);
                        alert(errorThrown);

                    }

                })
            })

        })




    </script>



    {include file="public::right" /}
    {include file="public::footer" /}